:root {
  /* Colors: */
  --black: #000000;
  --white: #ffffff;
  --light-red: #ec2227;
  --dark-red: #cc0000;
  --grey-bg: #F1F1F2;
  --helvetica: 'Helvetica';
  --press-gothic: 'PressGothic';
  --helvetica-bold: 'HelveticaBold';
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  padding: 0 20px;
}

.row {
  margin-right: -20px;
  margin-left: -20px;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--white);
}

a {
  text-decoration: none !important;
}

.wrapper {
  height: 100%;
}

main {
  padding: 88px 0 0 0;
}

.secondary-button, .primary-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 178px;
  height: 48px;
}
.secondary-button a, .primary-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 16px;
  outline: 1px solid var(--light-red);
  text-align: center;
  font: normal normal bold 14px/14px var(--helvetica-bold);
  letter-spacing: 0.9px;
  color: var(--white);
  opacity: 1;
  background-color: transparent;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
}
.primary-button a {
  outline: solid 1px var(--light-red);
  background-color: var(--light-red);
}
.primary-button:hover a {
  outline: solid 1px var(--black);
  background-color: var(--black);
}
.secondary-button:hover a {
  background-color: var(--light-red);
  color: var(--white);
}

.card-deck {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.secondary-banner {
  display: flex;
  align-items: center;
  min-height: 320px;
}
.secondary-banner .image {
  min-height: 320px;
}
.secondary-banner .image img {
  min-height: 320px;
  object-fit: cover;
  width: 100%;
}
.secondary-banner .description {
  position: relative;
  background-color: transparent;
  padding: 0;
}

.secondary-quote {
  background-color: var(--grey-bg);
} 
.secondary-quote .quote__title, .secondary-quote .quote__subtitle {
  color: var(--black);
}

.impact .involved {
  padding-top: 0;
  padding-bottom: 256px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
  }
}

@media (max-width: 991px) {
  .impact .involved {
    padding-top: 0;
    padding-bottom: 156px;
  }
}

@media (max-width: 767px) {
  .impact .involved {
    padding-top: 0;
    padding-bottom: 72px;
  }
  body.lock {
    overflow: hidden;
  }

  main {
    padding: 83px 0 0 0;
  }

  .container {
    max-width: 100%;
  }

  .content {
    padding: 83px 0 0 0;
  }
  .secondary-banner {
    min-height: 140px;
  }
  .secondary-banner .image {
    min-height: 140px;
  }
  .secondary-banner .image img {
    min-height: 140px;
  }
  .secondary-banner .description {
    position: absolute;
    background-color: transparent;
    padding: 0;
    top: 50%;
    transform: translate(0%, -25%);
    padding: 0 20px;
  }
  .impact .involved {
    padding-top: 72;
    padding-bottom: 72px;
  }
}

/*# sourceMappingURL=style.css.map */