:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
}

.music-matters {
    padding: 256px 20px;
    background-color: var(--black);
}

.music-matters__top {
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    padding: 0 0 88px;
    border-bottom: 1px solid #676767;
}

.music-matters__top-left {
    display: flex;
    flex-direction: column;
}

.music-matters__title {
    margin-bottom: 80px;
    text-align: left;
    font: normal normal normal 64px/64px var(--press-gothic);
    font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
}

.music-matters__description {
    text-align: left;
    font: normal normal normal 18px/29px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
}
.music-matters__top-left .music-matters__description {
    padding: 0 116px 0 0;
}

.music-matters__top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.music-matters__bottom {
    padding: 88px 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 144px;
}

.music-matters__bottom .secondary-button {
    display: none;
}

.music-matters__because-item {
    width: 100%;
}

.music-matters__img {
    margin-bottom: 40px;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .music-matters {
        padding: 72px 20px;
    }
    .music-matters__top {
        padding: 0 0 36px;
        border-bottom: none;
    }
    .music-matters__top-left {
        padding: 0;
    }
    .music-matters__title {
        margin-bottom: 64px;
    }
    .music-matters__bottom {
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
    }
    .music-matters__because-item:first-child {
        border-top: 1px solid #676767;
    }
    .music-matters__because-item {
        padding: 36px 0;
        border-bottom: 1px solid #676767;
    }
    .music-matters__because-item:last-child {
        border-bottom: none;
        padding-bottom: 56px;
    }
    .music-matters .secondary-button {
        max-width: initial;
    }
    .music-matters__top-left .music-matters__description {
        padding: 0;
    }
}