:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --grey: #F1F1F2;
    --dark-grey: #828282;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
    --bg: #F1F1F2;
}

.impact {
    padding: 160px 20px;
    background-color: var(--bg);
    margin: -1px 0;
}

.impact__top {
    padding: 0 0 88px;
    /*border-bottom: 1px solid #676767;*/
}

.impact__body-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 632px;
    padding: 0;
    overflow: hidden;
}

.impact__body-right img {
    width: 100%;
    height: auto;
}

.impact__body-left {
    display: flex;
    flex-direction: column;
    padding: 99px 108px 75px 0;
}

.impact__body-left-head .title {
    text-align: left;
    font: normal normal normal 64px/64px var(--press-gothic);
    font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 80px;
}

.impact__body-left-main p {
    text-align: left;
    font: normal normal normal 18px/29px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--black);
    opacity: 1;
    margin-bottom: 24px;
}

.impact__body-left-main p:last-child {
    margin-bottom: 56px;
}

.impact__body-left-footer {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.impact__body-left-footer .secondary-button a {
    color: var(--black);
}


.impact__bottom {
    display: flex;
    flex-wrap: wrap;
    padding-top: 88px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 193px;
    row-gap: 103px;
}

.impact__bottom-item {
    width: 100%;
    position: relative;
}

.impact__bottom-item .divider-min {
    top: unset;
    bottom: -17px;
}

.impact__bottom-item:nth-child(4) .impact__bottom-subtitle {
    white-space: nowrap;
}

/*.impact__bottom-item:nth-child(5) {*/
/*    max-width: 254px;*/
/*}*/


/*.impact__bottom-item:nth-child(6) {*/
/*    max-width: 216px;*/
/*}*/

.impact__bottom-title {
    text-align: left;
    font: normal normal normal 88px/89px var(--press-gothic);
    font-size: calc(72px + (16 + 16 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
    margin-bottom: 16px;
}

.impact__bottom-subtitle {
    text-align: left;
    font: normal normal normal 18px/29px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--black);
    opacity: 1;
}

@media (max-width: 1199px) {
    .impact__body-left {
        padding: 0 108px 0 0;
    }

    .impact__bottom-item:nth-child(4) .impact__bottom-subtitle {
        white-space: unset;
    }

    .impact__bottom-item:nth-child(4) br {
        display: none;
    }

    .impact__bottom-item:nth-child(5) br {
        display: none;
    }

    .impact__bottom-item:nth-child(6) br {
        display: none;
    }

}

@media (max-width: 991px) {
    .impact__bottom  {
        grid-template-columns: repeat(2, 1fr);
        padding: 72px 20px;
    }
    .impact__body-left {
        padding: 0 48px 0 0;
    }
}

@media (max-width: 767px) {
    .impact__bottom  {
        row-gap: 0;
    }
    .impact {
        padding: 0;
    }
    .impact__top {
        padding: 0;
        border-bottom: none;
    }
    .impact__body-right {
        max-width: initial;
        margin-bottom: 56px;
    }
    .impact__body-left {
        max-width: 100%;
        padding: 0 20px;
    }
    .impact__top .impact__body-left{
        order: 2;
    }
    .impact__top .impact__body-right{
        order: 1;
    }
    .impact__body-left-footer {
        flex-direction: column;
    }
    .impact__body-left-footer .primary-button {
        margin: 40px 0 16px;
        max-width: initial;
    }
    .impact__body-left-footer .secondary-button {
        max-width: initial;
    }
    .impact__body-left-footer .secondary-button a{
        max-width: initial;
        margin: 0;
    }
    .impact__body-left-head .subtitle {
        margin-bottom: 56px;
    }
    .impact__bottom-item {
        padding: 40px 0;
    }
    .impact__bottom-item:last-child {
        padding: 40px 0 0;
    }
    /*.impact__bottom-item:not(:last-child) {*/
    /*    border-bottom: 1px solid #676767;*/
    /*}*/

    .impact__bottom  {
        grid-template-columns: repeat(1, 1fr);
        padding: 72px 20px;
        row-gap: 0;
    }
    .impact__body-left-head .title {
        margin-bottom: 56px;
    }
    .impact__body-left-main p:last-child {
        margin-bottom: 40px;
    }
}

@media (max-width: 767px) {
    .impact__body-right {
        margin-bottom: 53px;
    }
}

@media (max-width: 576px) {
    .impact__bottom  {
        padding: 77px 20px 73px 20px;
    }
}

@media (max-width: 425px) {
    .impact__bottom-item:nth-child(4) br {
        display: block;
    }

    .impact__bottom-item:nth-child(5) br {
        display: block;
    }
}
