:root {
	/* Colors: */
	--black: #000000;
	--white: #ffffff;
	--light-red: #ec2227;
	--dark-red: #cc0000;
	--grey: #F1F1F2;
	--dark-grey: #828282;
	--helvetica: 'Helvetica';
	--press-gothic: 'PressGothic';
}

.numbers-section {
	padding: 160px 20px;
	background-color: var(--black);
}

.numbers-section .impact__bottom-subtitle {
    color: var(--white);
}

.numbers-section .impact__bottom {
	padding: 0;
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
	.numbers-section {
		padding: 72px 20px;
	}
}

@media (max-width: 767px) {
	.numbers-section {
		padding: 77px 20px;
	}

	.divider-min {
		position: absolute;
		bottom: -17px;
		left: 0;
		width: 0;
		border-top: 1px solid #676767;
		-webkit-transition: width 0.8s ease-out;
		transition: width 0.8s  ease-out;

		display: none;
	}

	.divider-grow {
		display: block;
		width: 100%;
	}
}
