:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --text-grey: #DBDCDE;
    --grey: #F1F1F2;
    --card-text-grey: #676767;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
}

.involved {
    padding: 160px 20px;
    background-color: var(--white);
    margin: -1px 0;
}

.involved__body-top {
    margin-bottom: 88px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.involved__body-top .title {
    text-align: left;
    font: normal normal normal 64px/64px var(--press-gothic);
    font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
}

.involved__body-top .description {
    text-align: left;
    font: normal normal normal 18px/29px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--black);
    opacity: 1;
    max-width: 524px;
    margin-left: 16px;
}

.involved__body-bottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.involved__body-bottom .card {
    width: 100%;
    margin: 0;
}

.involved__body-bottom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    background-color: var(--black);
}

.involved__body-bottom .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 88px;
}

.involved__body-bottom .card-title img {
    /* float: right;
    margin-left: 16px; */
    position: absolute;
    right: 32px;
    top: 32px;
}

.involved__body-bottom .card-title h5 {
    text-align: left;
    font: normal normal normal 56px/57px var(--press-gothic);
    font-size: calc(48px + (8 + 8 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(47px + (10 + 10 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    text-transform: uppercase;
    opacity: 1;
    min-width: 240px;
    display: flex;
    flex-shrink: 0;
}

.involved__body-bottom .card-text {
    text-align: left;
    font: normal normal normal 18px/28px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (3 + 3 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
    margin-bottom: 64px;
    /* padding-right: 70px; */
}

.involved__body-bottom .secondary-button {
    width: 100%;
    height: 63px;
    max-width: initial;
}

@media (max-width: 1199px) {
    .involved__body-bottom .card-text {
        padding-right: 0px;
    }
}

@media (max-width: 991px) {
    .involved__body-bottom .card-text {
        padding-right: 0px;
    }

    .involved__body-bottom {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 16px;
        row-gap: 16px;
    }

    .involved__body-top {
        margin-bottom: 0px;
        flex-direction: column;
    }
    .involved__body-top .title, .involved__body-top .description {
        width: 100%;
    }
    .involved__body-top .title {
        margin-bottom: 56px;
    }

    .involved__body-top .description {
        max-width: 100%;
        margin: 0 0 56px;
    }
}

@media (max-width: 767px) {
    .involved {
        padding: 72px 20px;
    }

    .involved__body {
        padding: 0;
    }

    .involved__body-bottom .card-deck {
        align-items: center;
    }

    .involved__body-bottom br {
        display: none;
    }

    .involved__body-bottom {
        grid-template-columns: repeat(1, 1fr);
    }

    .involved__body-bottom .card-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 56px;
    }

    .involved__body-bottom .card-text {
        margin-bottom: 32px;
    }

    .involved__body-bottom .card-title h5 {
        max-width: 164px;
        min-width: 164px;
    }
    .involved__body-bottom .card-title h5 br {
        display: initial;
    }
}

