:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --text-grey: #DBDCDE;
    --grey: #F1F1F2;
    --card-text-grey: #676767;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
}

.involved__body {
    padding: 88px 0 0 0;
}

.involved__body-top {
    margin-bottom: 88px;
}

.involved__body-top .title {
    text-align: left;
    font: normal normal normal 64px/64px var(--press-gothic);
    font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
}

.involved__body-bottom .card-deck {
    justify-content: space-between;
}

.involved__body-bottom .card {
    width: 416px;
    min-height: 520px;
    min-width: 335px;
    margin: 0 8px 16px;
}

.involved__body-bottom .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
}

.involved__body-bottom .card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.involved__body-bottom .card-title img {
    float: right;
    margin-left: 16px;
}

.involved__body-bottom .card-title h5 {
    text-align: left;
    font: normal normal normal 56px/57px var(--press-gothic);
    font-size: calc(48px + (8 + 8 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(47px + (10 + 10 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    text-transform: uppercase;
    opacity: 1;
}

.involved__body-bottom .card-text {
    text-align: left;
    font: normal normal normal 18px/28px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (3 + 3 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
}

.involved__body-bottom .secondary-button {
    width: 100%;
    max-width: initial;
}
.involved__body-bottom .secondary-button a {
    min-height: 61px;
    padding: 24px 16px;
}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .involved__body {
        padding: 0;
    }
    .involved__body-top {
        margin-bottom: 56px;
    }
    .involved__body-bottom .card {
        width: 335px;
        min-height: 410px;
        min-width: 335px;
        margin: 0 8px 16px;
    }
    .involved__body-bottom .card-deck {
        align-items: center;
    }
}