:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --text-grey: #DBDCDE;
    --grey: #F1F1F2;
    --card-text-grey: #676767;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
    --helvetica-bold: 'HelveticaBold';
}

.issue {
    padding: 160px 20px;
    background-color: var(--white);
    margin: -1px 0;
}

.issue__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 232px;
}

.issue__body-left {}

.issue__body-left-head {
    margin-bottom: 80px;
}

.issue__body-left-head .title {
    text-align: left;
    font: normal normal normal 64px/64px var(--press-gothic);
    font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
}

.issue__body-left-main p {
    text-align: left;
    font: normal normal normal 18px/29px var(--helvetica);
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--black);
    opacity: 1;
    margin-bottom: 24px;
}

.issue__body-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 16px;
}

.issue__body-right-item {
    /*padding: 32px 0 18px;*/
    background-color: var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 32px 40px 18px 32px;
    gap: 37px;
}

.issue__body-right-item .title {
    text-align: left;
    font: normal normal normal 88px/89px var(--press-gothic);
    font-size: calc(72px + (16 + 16 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
    min-width: 117px;
}

.issue__body-right-item .description {
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    font: normal normal normal 18px/22px var(--helvetica-bold);
    font-size: calc(14px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(17px + (5 + 5 * 0.7) * ((100vw - 767px) / 1920));
    width: 100%;
    /*padding: 0 67px 0 61px;*/
}

.issue-line-break {
    display: none;
}

.issue-line-break-2 {
    display: none;
}

/*.move-line-min {*/
/*    display: none;*/
/*}*/


@media (max-width: 1592px) {
    .issue-line-break {
        display: block;
    }
}

@media (max-width: 1199px) {
    .issue__top {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 132px;
    }
    .issue-line-break {
        display: none;
    }
}

@media (max-width: 1175px) {
    .issue-line-break-2 {
        display: block;
    }
}

@media (max-width: 991px) {
    .issue__top {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 48px;
    }

    .move-line {
        display: none;
    }

    .issue-line-break-2 {
        display: none;
    }
}

@media (max-width: 767px) {
    .issue {
        padding: 72px 20px;
    }
    .issue__body-left-head {
        margin-bottom: 56px;
    }

    .issue__body-right-item {
        padding: 24px 26px 13px 24px;
        gap: 17px;
    }
}

@media (max-width: 610px) {
    .issue-line-break-2 {
        display: block;
    }
}

@media (max-width: 576px) {
    .issue__body-right-item {
        gap: 0px;
    }

    .issue__body-right-item:last-child .description {
        padding-right: 15px;
    }

    /*.move-line-min {*/
    /*    display: block;*/
    /*}*/
}

@media (max-width: 518px) {
    .issue-line-break {
        display: block;
    }

    .issue-line-break-2 {
        display: none;
    }
}

@media (max-width: 406px) {
    .issue-line-break {
        display: none;
    }

    .issue-line-break-2 {
        display: block;
    }
}
