:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
    --helvetica-bold: 'HelveticaBold';
}

.banner {
    position: relative;
    display: flex;
    align-items: center;
    min-height: calc(100vh - 88px);
    max-height: calc(100vh - 88px);
}

.banner .container {
    padding: 0;
}

.banner .image {
    width: 100%;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%, 0);
    min-height: calc(100vh - 88px);
    max-height:calc(100vh - 88px);
}
.banner .image img{
    min-height: calc(100vh - 88px);
    max-height: calc(100vh - 88px);
    object-fit: cover;
    width: 100%;
}

.banner .description {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    width: 100%;
    max-width: calc((100vw / 100) * 50);
    padding: 56px 11.66% 56px 56px;
    padding-right: calc((100vh / 100) * 11.66);
    text-align: left;
    font: normal normal normal 80px/80px var(--press-gothic);
    font-size: calc(48px + (32 + 32 * 0.7) * ((100vw - 767px) / 1920));
    line-height: calc(47px + (32 + 32 * 0.7) * ((100vw - 767px) / 1920));
    letter-spacing: 0px;
    color: var(--white);
    background-color: var(--light-red);
    text-transform: uppercase;
}

@media (max-width: 1199px) {
    .banner {
        min-height: calc(100vh - 88px);
        /* max-height: calc(100vh - 88px); */
    }

    .banner .image {
        min-height: calc(100vh - 88px);
        /* max-height: calc(100vh - 88px); */
    }
    .banner .image img{
        min-height: calc(100vh - 88px);
        /* max-height: calc(100vh - 88px); */
    }
}

@media (max-width: 991px) {
    .banner .description {
        padding: 56px;
    }
}

@media (max-width: 767px) {
    .banner {
        display: flex;
        flex-direction: column;
        min-height: 280px;
    }
    .banner .image {
        position: relative;
        min-height: 280px;
    }
    .banner .image img{
        min-height: 280px;
    }
    .banner .description {
        position: relative;
        padding: 48px 20px;
        max-width: 100%;
    }
}
