:root {
	/* Colors: */
	--black: #000000;
	--white: #ffffff;
	--light-red: #ec2227;
	--dark-red: #cc0000;
	--text-grey: #DBDCDE;
	--helvetica: 'Helvetica';
	--press-gothic: 'PressGothic';
	--helvetica-bold: 'HelveticaBold';
}

.projects {
	padding: 256px 20px;
	background-color: var(--white);
}

.projects__body {
	padding: 88px 0;
}

.projects__body-top {
	margin-bottom: 88px;
}

.projects__body-top .title {
	text-align: left;
	font: normal normal normal 64px/64px var(--press-gothic);
	font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	letter-spacing: 0px;
	color: var(--light-red);
	text-transform: uppercase;
	opacity: 1;
	padding: 0;
}

.projects__body-top .secondary-button a {
	color: var(--black);
	position: relative;
}

.projects__body-top .select::before {
	content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.396' height='23.403' viewBox='0 0 13.396 23.403'%3E%3Cpath id='Path_5169' data-name='Path 5169' d='M23.349-9.47a.774.774,0,0,1,.159.477.572.572,0,0,1-.159.424L12.283,2.549a.774.774,0,0,1-.477.159.572.572,0,0,1-.424-.159L.264-8.57a.572.572,0,0,1-.159-.424A.774.774,0,0,1,.264-9.47l1.059-1.059a.572.572,0,0,1,.424-.159.774.774,0,0,1,.477.159L11.807-.945l9.583-9.583a.774.774,0,0,1,.477-.159.572.572,0,0,1,.424.159Z' transform='translate(10.687 23.508) rotate(-90)' fill='%23ec2227'/%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: 16px;
    transform: rotate(90deg);
	-webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.projects__body-top .secondary-button:hover .select:before {
	    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.396' height='23.403' viewBox='0 0 13.396 23.403'%3E%3Cpath id='Path_5169' data-name='Path 5169' d='M23.349-9.47a.774.774,0,0,1,.159.477.572.572,0,0,1-.159.424L12.283,2.549a.774.774,0,0,1-.477.159.572.572,0,0,1-.424-.159L.264-8.57a.572.572,0,0,1-.159-.424A.774.774,0,0,1,.264-9.47l1.059-1.059a.572.572,0,0,1,.424-.159.774.774,0,0,1,.477.159L11.807-.945l9.583-9.583a.774.774,0,0,1,.477-.159.572.572,0,0,1,.424.159Z' transform='translate(10.687 23.508) rotate(-90)' fill='%23ffffff'/%3E%3C/svg%3E");
}

.projects__body-bottom .card-row {
	justify-content: space-between;
}

.card-deck {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

.card-deck .card {
	margin-left: 0;
	margin-right: 0;
}
.projects__body-bottom .img-wrapper {
	width: 100%;
	max-width: 416px;
	position: relative;
}

.projects__body-bottom .img-wrapper img {
	width: 100%;
	height: auto;
}

.projects__body-bottom .img-wrapper .play {
    cursor: pointer;
    width: initial;
    height: initial;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);
}

.card-body {
	background-color: var(--black);
}

.projects__body-bottom .card-title {
	text-align: left;
	font: normal normal bold 18px/22px var(--helvetica-bold);
	letter-spacing: 0px;
	color: var(--white);
	opacity: 1;
}

.projects__body-bottom .card-text {
	text-align: left;
	font: normal normal normal 14px/20px var(--helvetica);
	letter-spacing: 0px;
	color: var(--text-grey);
	opacity: 1;
}

.projects__body-bottom .card-date {
	text-align: left;
	font: normal normal bold 14px/17px var(--helvetica-bold);
	letter-spacing: 0px;
	color: var(--light-red) !important;
	text-transform: uppercase;
	opacity: 1;
}

.projects__ctrls-container,
.projects__ctrls-status {
	display: flex;
	font-size: 14px;
	font-weight: bold;
}

.projects__ctrls-container {
	justify-content: center;
	margin-top: 40px;
}

.projects__ctrls-status {
	margin: 0 24px;
}

.projects__ctrls-prev {
	width: 14px;
	height: 24px;
	background-image: url("../../../assets/img/impact/arrow-prev.svg");
	background-size: cover;
	transform: scale(-1, -1);
	cursor: pointer;
}

.projects__ctrls-next {
	width: 14px;
	height: 24px;
	background-image: url("../../../assets/img/impact/arrow-next.svg");
	background-size: cover;
	cursor: pointer;
}

@media (max-width: 991px) {
	.projects {
		padding: 156px 20px;
	}
}

@media (max-width: 767px) {
	.projects {
		padding: 72px 20px;
	}

	.projects__body {
		padding: 0;
	}

	.projects__body-top {
		margin-bottom: 56px;
	}

	.projects__body-bottom .img-wrapper {
		width: 100%;
		max-width: initial;
	}

	.projects__body .secondary-button {
		max-width: initial;
		color: var(--black);
		margin-top: 24px;
	}
	.projects__body .secondary-button a{
		color: var(--black);
	}
	.projects__body-bottom .card-row {
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	.card-deck {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-row-gap: 15px;
	}
}
