:root {
    /* Colors: */
    --black: #000000;
    --white: #ffffff;
    --light-red: #ec2227;
    --dark-red: #cc0000;
    --text-grey: #DBDCDE;
    --helvetica: 'Helvetica';
    --press-gothic: 'PressGothic';
}

.projects {
    padding: 168px 20px;
    background-color: var(--white);
}

.projects__body {
    padding: 88px 0;
}

.projects__body-top {
    margin-bottom: 88px;
}

.projects__body-top .title {
    text-align: left;
    font: normal normal normal 64px/91px var(--press-gothic);
    letter-spacing: 0px;
    color: var(--light-red);
    text-transform: uppercase;
    opacity: 1;
}

.projects__body-top .secondary-button a {
    color: var(--black);
}

.projects__body-bottom .card-deck {
    justify-content: space-between;
    padding: 0 16px;
}

.projects__body-bottom .card-deck>div {
    max-width: 416px;
    margin: 0 0 16px;
}
.projects__body-bottom .img-wrapper {
    width: 100%;
    max-width: 416px;
}

.card-body {
    background-color: var(--black);
}

.projects__body-bottom .card-title {
    text-align: left;
    font: normal normal bold 18px/22px var(--helvetica);
    letter-spacing: 0px;
    color: var(--white);
    opacity: 1;
}

.projects__body-bottom .card-text {
    text-align: left;
    font: normal normal normal 14px/20px var(--helvetica);
    letter-spacing: 0px;
    color: var(--text-grey);
    opacity: 1;
}

.projects__body-bottom .card-date {
    text-align: left;
    font: normal normal bold 14px/17px var(--helvetica);
    letter-spacing: 0px;
    color: var(--light-red) !important;
    text-transform: uppercase;
    opacity: 1;
}



@media (max-width: 991px) {}

@media (max-width: 767px) {}