.feedback-section {
	padding: 256px 20px;
}

.feedback-container {
	display: flex;
	justify-content: space-between;
	margin: 0 -20px;
}

.feedback-form {
	max-width: 632px;
	width: 100%;
}

.feedback-form form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.feedback-input {
	width: 100%;
	margin-bottom: 24px;
	max-height: 48px;
	padding: 16px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	background: #f1f1f2;
	border: none;
	outline: none;
}

.feedback-input:active {
	outline: 2px solid #EC2227;
}


.feedback-input:focus {
	outline: 2px solid #EC2227;
}

.feedback-textarea {
	height: 192px;
	margin-bottom: 32px;
	padding: 16px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	background: #f1f1f2;
	border: none;
	resize: none;
	outline: none;
}

.feedback-textarea:active {
	outline: 2px solid #EC2227;
}


.feedback-textarea:focus {
	outline: 2px solid #EC2227;
}

.feedback-caption {
	max-width: 524px;
}

.feedback-button {
	width: 100%;
	max-width: 178px;
	padding: 16px 24px;
	text-align: center;
	font: normal normal bold 14px/16px var(--helvetica-bold);
	letter-spacing: 0.9px;
	color: #ffffff;
	background-color: #ec2227;
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	opacity: 1;
}

.feedback-button:hover {
	background-color: #000000;
}
.feedback-button {
    width: 100%;
    max-width: 178px;
    padding: 16px;
    text-align: center;
    font: normal normal bold 14px/16px var(--helvetica-bold);
    letter-spacing: 0.9px;
    color: var(--white);
    text-transform: uppercase;
    opacity: 1;
    background-color: var(--light-red);
    border: none;
    border-radius: 0;
	-webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.feedback-button:hover, .feedback-button:active {
    background-color: var(--black);
    outline: 1px solid var(--black);
}
.feedback-button:focus {
    box-shadow: none;
}

.caption-heading h2 {
	text-align: left;
	font: normal normal normal 64px/64px var(--press-gothic);
	font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	letter-spacing: 0px;
	color: var(--light-red);
	text-transform: uppercase;
	opacity: 1;
	margin-bottom: 75px;
}

.caption-text {
	margin-bottom: 16px;
}

.caption-text p {
	margin-bottom: 0;
	font: normal normal normal 18px/29px var(--helvetica);
	font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
	line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
	letter-spacing: 0;
	text-align: left;
	color: var(--black);
	opacity: 1;
}
.caption-text p:not(:last-child) {
	margin-bottom: 24px;
}

.caption-contacts-link {
	display: inline-block;
	padding-bottom: 2px;
	font-family: "HelveticaBold", sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #cc0000;
	text-transform: uppercase;
	border-bottom: 2px solid #cc0000;
}
.caption-contacts-link:hover {
	color: #cc0000;
}

@media (max-width: 1199px) {
	.feedback-form,
	.feedback-caption {
		max-width: 450px;
	}
}

@media (max-width: 991px) {
	.feedback-section {
		padding: 156px 20px;
	}
	.feedback-form,
	.feedback-caption {
		max-width: 340px;
	}
}

@media (max-width: 767px) {
	.feedback-section {
		padding: 72px 20px;
	}
	.caption-heading h2 {
		margin-bottom: 56px;
	}

	.feedback-container {
		flex-direction: column-reverse;
	}

	.feedback-form,
	.feedback-caption {
		max-width: initial;
	}

	.feedback-form {
		margin-top: 70px;
	}

	.feedback-button {
		max-width: initial;
		width: 100%;
		margin-top: 16px;
		padding: 19px 0;
	}
	.feedback-input {
		margin-bottom: 16px;
	}

}
