.feedback-section {
	padding: 160px 20px;
}

.feedback-container {
	display: flex;
	justify-content: space-between;
	margin: 0 -20px;
}

.feedback-form {
	max-width: 632px;
	width: 100%;
}

.feedback-form form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.feedback-input {
	width: 100%;
	margin-bottom: 24px;
	max-height: 48px;
	padding: 16px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	background: #f1f1f2;
	border: none;
	outline: none;
	color: #000000;
}
.feedback-input::-webkit-input-placeholder, .feedback-textarea::-webkit-input-placeholder {
    color: #b5b5b5;
}
.feedback-input::-moz-placeholder, .feedback-textarea::-moz-placeholder {
	color: #b5b5b5;
}

.feedback-input:active {
	outline: 1px solid #bebebe;
}
.feedback-input:focus {
	outline: 1px solid #bebebe;
}
.feedback-input.error {
	outline: 1px solid #EC2227;
}

.feedback-textarea {
	height: 192px;
	margin-bottom: 32px;
	padding: 16px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	background: #f1f1f2;
	border: none;
	resize: none;
	outline: none;
}

.feedback-textarea:active {
	outline: 1px solid #bebebe;
}


.feedback-textarea:focus {
	outline: 1px solid #bebebe;
}
.feedback-textarea.error {
	outline: 1px solid #EC2227;
}

.feedback-caption {
	max-width: 524px;
}

.feedback-button {
	width: 100%;
	max-width: 178px;
	height: 48px;
	padding: 16px 24px;
	text-align: center;
	font: normal normal bold 14px/16px var(--helvetica-bold);
	letter-spacing: 0.9px;
	color: #ffffff;
	/*background-color: #ec2227;*/
	border: none;
	border-radius: 0;
	text-transform: uppercase;
	opacity: 1;

	background: linear-gradient(to top, var(--light-red) 50%, var(--black) 50%);
	background-size: 100% 200%;
	background-position: bottom left;
	-webkit-transition: all 0.2s ease-out;
	transition: all .2s ease-out;
}

.feedback-button:hover {
	background-position: top left;
	/* outline: solid 2px var(--black); */
}

/*.feedback-button {*/
/*    width: 100%;*/
/*    max-width: 178px;*/
/*    padding: 16px;*/
/*    text-align: center;*/
/*    font: normal normal bold 14px/16px var(--helvetica-bold);*/
/*    letter-spacing: 0.9px;*/
/*    color: var(--white);*/
/*    text-transform: uppercase;*/
/*    opacity: 1;*/
/*    background-color: var(--light-red);*/
/*    border: none;*/
/*    border-radius: 0;*/
/*	-webkit-transition: all 0.6s ease 0s;*/
/*    transition: all 0.6s ease 0s;*/
/*}*/
.feedback-button:hover, .feedback-button:active {
    background-color: var(--black);
    outline: 1px solid var(--black);
}
.feedback-button:focus {
    box-shadow: none;
}

.caption-heading h2 {
	text-align: left;
	font: normal normal normal 64px/64px var(--press-gothic);
	font-size: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	line-height: calc(40px + (24 + 24 * 0.7) * ((100vw - 767px) / 1920));
	letter-spacing: 0px;
	color: var(--light-red);
	text-transform: uppercase;
	opacity: 1;
	margin-bottom: 75px;
}

.caption-text {
	margin-bottom: 16px;
}

.caption-text p {
	margin-bottom: 0;
	font: normal normal normal 18px/29px var(--helvetica);
	font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 767px) / 1920));
	line-height: calc(25px + (4 + 4 * 0.7) * ((100vw - 767px) / 1920));
	letter-spacing: 0;
	text-align: left;
	color: var(--black);
	opacity: 1;
}
.caption-text p:not(:last-child) {
	margin-bottom: 24px;
}

.caption-contacts-link {
	display: inline-block;
	padding-bottom: 2px;
	font-family: "HelveticaBold", sans-serif;
	font-size: 14px;
	line-height: 17px;
	color: #cc0000;
	text-transform: uppercase;
	border-bottom: 2px solid #cc0000;
	transition: all 0.1s;
}

.caption-contacts-link:hover {
	color: #cc0000;
	border-bottom: none;
}

/* custom select */
.select {
    display: block;
    width: 100%;
    position: relative;
}

.new-select {
    position: relative;
    cursor: pointer;
    user-select: none;

	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	margin-bottom: 24px;
	height: 48px;
	padding: 16px;
	font-family: "Helvetica", sans-serif;
	font-size: 16px;
	color: #b5b5b5;
	background: #f1f1f2;
	border: none;
	outline: none;
	/*border: 2px solid #f1f1f2;*/
}
.new-select.on {
	border: 1px solid #bebebe;
}

.new-select__list {
    position: absolute;
    top: 45px;
    left: 0;
    cursor: pointer;
    width: 100%;
    z-index: 2;
    background: #f1f1f2;
    user-select: none;
	border: 1px solid #bebebe;
	color: #000000;
}

.new-select__item:first-child {
	display: none;
}

.new-select__list.on {
    display: block;
}

.new-select__item span {
    display: block;
    padding: 10px 15px;
}
.new-select__item:hover {
	background-color: white;
}

.new-select__item-active span {
    color: #ec2227;
}

.new-select:after {
    content: '';
    display: block;
    width: 9px;
    height: 16px;
    position: absolute;
    right: 16px;
    top: center;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.396' height='23.403' viewBox='0 0 13.396 23.403'%3E%3Cpath id='Path_5169' data-name='Path 5169' d='M23.349-9.47a.774.774,0,0,1,.159.477.572.572,0,0,1-.159.424L12.283,2.549a.774.774,0,0,1-.477.159.572.572,0,0,1-.424-.159L.264-8.57a.572.572,0,0,1-.159-.424A.774.774,0,0,1,.264-9.47l1.059-1.059a.572.572,0,0,1,.424-.159.774.774,0,0,1,.477.159L11.807-.945l9.583-9.583a.774.774,0,0,1,.477-.159.572.572,0,0,1,.424.159Z' transform='translate(10.687 23.508) rotate(-90)' fill='%23676767'/%3E%3C/svg%3E") no-repeat right center / cover;
    opacity: 0.6;

    -webkit-transition: all .27s ease-in-out;
        -o-transition: all .27s ease-in-out;
            transition: all .27s ease-in-out;

	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*.new-select.on:after {*/
/*    -webkit-transform: rotate(270deg);*/
/*        -ms-transform: rotate(270deg);*/
/*         -o-transform: rotate(270deg);*/
/*            transform: rotate(270deg);*/
/*}*/

.active-head {
	color: #000000;
}

/* custom select end*/

@media (max-width: 1199px) {
	.feedback-form,
	.feedback-caption {
		max-width: 450px;
	}
}

@media (max-width: 991px) {
	.feedback-form,
	.feedback-caption {
		max-width: 340px;
	}
}

@media (max-width: 767px) {
	.feedback-section {
		padding: 72px 20px;
	}
	.caption-heading h2 {
		margin-bottom: 56px;
	}

	.feedback-container {
		flex-direction: column-reverse;
	}

	.feedback-form,
	.feedback-caption {
		max-width: initial;
	}

	.feedback-form {
		margin-top: 70px;
	}

	.feedback-button {
		max-width: initial;
		width: 100%;
		margin-top: 16px;
		padding: 19px 0;
	}
	.feedback-input {
		margin-bottom: 16px;
	}

}
